name: Auto update clash

on:  [push]
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: update clash1
      run: |
        cat https://convert.v2ray-subscribe.workers.dev/?url=https://raw.githubusercontent.com/sattheptonghop/sattheptonghop.github.io/main/v2ray&sni=dl.kgvn.garenanow.com&flag=clash > clash1
    - name: edit clash1
      run: |
        sed -e "select,/url-test," clash1
        sed -e ")"] }/)"], url: "http:\/\/www.gstatic.com\/generate_204", interval: 60}" clash1
    #- name: copy clash1
    #  run: mkdir build && cp clash build
      
    - name: Commit files # transfer the new html files back into the repository
      run: |
        git config --local user.name "sattheptonghop"
        git add --all
        git commit -m "Update clash"
    - name: Push changes # push the output folder to your repo
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        force: true
