name: Auto update clash

on:  [push]
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - name: update clash
      run: wget -O clash https://convert.v2ray-subscribe.workers.dev/?url=https://raw.githubusercontent.com/sattheptonghop/sattheptonghop.github.io/main/v2ray&sni=dl.kgvn.garenanow.com&flag=clash
    - name: copy clash
      run: mkdir build && cp clash build
    - run: echo hi > world.txt
    - uses: actions/upload-artifact@v3
      with:
          name: my-artifact
          path: ${{ github.workspace }}
